{% extends 'nucleo/index.html' %}
    {% block content %}
    <section id="hero">
        <div class="hero-container" data-aos="fade-up">
            <form method="post">
                {% csrf_token %}
                <p>¿Estás seguro de que deseas eliminar el proyecto <strong>"{{object.title}}"</strong> ?</p>
                <div class="row">
                    <div class="col-6">
                        <input class="bot" type="submit" value="Confirmar">
                    </div>
                    <div class="col-6">
                        <button class="bot"><a href="{% url 'listProjects' %}">Cancelar</a></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    {% endblock %}