{% extends 'nucleo/index.html' %}
{% load crispy_forms_tags %}
    {% block content %}
            <section id="h">
                <div class="hero-container">
                    <div class="back">
                        <h2>Editar proyecto</h2>
                        <form class="form" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                    {% if field.errors %}
                    {{ field.errors }}
                    {% endif %}
                    <button type="submit" class="bot" value="Confirmar">Actualizar</button>
                </div>
                </div>
            </section>
    {% endblock %}